<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chandan's Portfolio</title>
    <link rel="stylesheet" th:href="@{/styles/css/style.css}" />
    <link rel="stylesheet" th:href="@{/styles/css/mediaqueries.css}" />
</head>
<body>
<nav id="desktop-nav">
    <div class="logo">Hello World!</div>
    <div>
        <ul class="nav-links">
            <li><a th:href="@{#about}">About</a></li>
            <li><a th:href="@{#experience}">Experience</a></li>
            <li><a th:href="@{#projects}">Projects</a></li>
            <li><a th:href="@{#contact}">Contact</a></li>
        </ul>
    </div>
</nav>
<nav id="hamburger-nav">
    <div class="logo">Hello World!</div>
    <div class="hamburger-menu">
        <div class="hamburger-icon" th:onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu-links">
            <li><a th:href="@{#about}" th:onclick="toggleMenu()">About</a></li>
            <li><a th:href="@{#experience}" th:onclick="toggleMenu()">Experience</a></li>
            <li><a th:href="@{#projects}" th:onclick="toggleMenu()">Projects</a></li>
            <li><a th:href="@{#contact}" th:onclick="toggleMenu()">Contact</a></li>
        </div>
    </div>
</nav>
<section id="profile">
    <div class="section__pic-container">
        <img th:src="@{${profilepic}}" alt="Chandan Tiwari" />
    </div>
    <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h1 class="title">Chandan Tiwari</h1>

        <div class="animated-text">
            <ul class="sec-texts">
                <li th:each="title : ${titles}"><span th:utext="${title}">Title</span></li>
            </ul>
        </div>


        <div class="btn-container">
            <a th:href="@{/download}">
                <button class="btn btn-color-2">
                    Download CV
                </button>
            </a>
            <button class="btn btn-color-1" th:onclick="@{location.href='./#contact'}">
                Contact Info
            </button>
        </div>
        <div id="socials-container">
            <a th:each="media : ${social}" th:href="@{${media.onClickAction}}" th:target="_blank">
                <img
                        th:src="@{${media.assetUrl}}"
                        th:alt="${media.altName}"
                        class="icon"
                />
            </a>
        </div>
    </div>
</section>

<section id="about">
    <p class="section__text__p1">Get To Know More</p>
    <h1 class="title">About Me</h1>
    <div class="section-container">
        <div class="section__pic-container">
            <img
                    th:src="@{${aboutpic}}"
                    alt="Chandan Tiwari"
                    class="about-pic"
            />
        </div>
        <div class="about-details-container">
            <div class="about-containers">
                <div class="details-container">
                    <img
                            th:src="@{${experience}}"
                            alt="Experience icon"
                            class="icon"
                    />
                    <h3>Experience</h3>
                    <p>5+ years <br />Software Development <em> (2019 - till date)</em></p>
                </div>
                <div class="details-container">
                    <img
                            th:src="@{/assets/education.png}"
                            alt="Education icon"
                            class="icon"
                    />
                    <h3>Education</h3>
                    <p>B.Tech. (Computer Science) <br />Bachelors Degree <em> (2015 - 2019)</em></p>
                </div>
            </div>
            <div class="text-container">
                <p>
                    Hey there! I'm from Uttarakhand (India), also known as "Land of the Gods".
                    I've more than 5 years of professional experience in IT sector and developing
                    Softwares for different multi national clients. A Big fan of JAVA!
                </p>
                <p>
                    With my professional career, I'm also passionate about Music.
                    I always enjoy staying at home and producing some good music!
                    I'm not much of an outdoor person.
                    I love rainy days where I can wrap myself in a blanket and binge-watch
                    series without feeling guilty! I speak Hindi, English and obviously JAVA ;-P.
                </p>
            </div>
        </div>
    </div>
    <img
            th:src="@{${arrow.assetUrl}}"
            th:alt="${arrow.altName}"
            class="icon arrow"
            th:onclick="@{location.href='./#experience'}"
    />
</section>

<section id="experience">
    <p class="section__text__p1">Explore My</p>
    <h1 class="title">Experience</h1>
    <div class="experience-details-container">
        <div class="about-containers">
            <div class="details-container">
                <h2 class="experience-sub-title">Frontend Development</h2>
                <div class="article-container">
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>HTML</h3>
                            <p>Experienced</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>CSS</h3>
                            <p>Experienced</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>ReactJS</h3>
                            <p>Intermediate</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>JavaScript</h3>
                            <p>Experienced</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>TypeScript</h3>
                            <p>Intermediate</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>AngularJS</h3>
                            <p>Intermediate</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="details-container">
                <h2 class="experience-sub-title">Backend Development</h2>
                <div class="article-container">
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>JAVA 8+</h3>
                            <p>Experienced</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>Node JS</h3>
                            <p>Intermediate</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>Express JS</h3>
                            <p>Intermediate</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>Spring</h3>
                            <p>Experienced</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="about-containers">
            <div class="details-container">
                <h2 class="experience-sub-title">Cloud Technology</h2>
                <div class="article-container">
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>AWS</h3>
                            <p>Experienced</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="about-containers">
            <div class="details-container">
                <h2 class="experience-sub-title">Databases</h2>
                <div class="article-container">
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>PostgreSQL</h3>
                            <p>Experienced</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>OracleDB</h3>
                            <p>Experienced</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>MySQL</h3>
                            <p>Experienced</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="details-container">
                <h2 class="experience-sub-title">DevOps</h2>
                <div class="article-container">
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>Docker</h3>
                            <p>Experienced</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>Jenkins</h3>
                            <p>Intermediate</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>Kubernetes</h3>
                            <p>Intermediate</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>ElasticSearch</h3>
                            <p>Experienced</p>
                        </div>
                    </article>
                    <article>
                        <img
                                th:src="@{${checkmark}}"
                                alt="Experience icon"
                                class="icon"
                        />
                        <div>
                            <h3>Splunk</h3>
                            <p>Experienced</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <img
            th:src="@{${arrow.assetUrl}}"
            th:alt="${arrow.altName}"
            class="icon arrow"
            th:onclick="@{location.href='./#projects'}"
    />
</section>

<section id="projects">
    <p class="section__text__p1">Browse My Recent</p>
    <h1 class="title">Projects</h1>
    <div class="experience-details-container">
        <div class="about-containers">
            <div class="details-container color-container" th:each="project : ${projects}">
                <div class="article-container">
                    <img
                            th:src="@{${project.assetUrl}}"
                            th:alt="${project.altName}"
                            class="project-img"
                    />
                </div>
                <h2 class="experience-sub-title project-title" th:text="${project.projectName}">ProjectName</h2>
                <div class="btn-container">
                    <a th:href="${project.onGithubClickAction}" th:target="_blank">
                        <button class="btn btn-color-2 project-btn">
                            Github
                        </button>
                    </a>
                    <a th:href="${project.onLiveDemoClickAction}" th:target="_blank">
                        <button class="btn btn-color-2 project-btn">
                            Live Demo
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <img
            th:src="@{${arrow.assetUrl}}"
            th:alt="${arrow.altName}"
            class="icon arrow"
            th:onclick="@{location.href='./#contact'}"
    />
</section>

<section id="contact">
    <p class="section__text__p1">Get in Touch</p>
    <h1 class="title">Contact Me</h1>
    <div class="contact-info-upper-container">
        <div class="contact-info-container">
            <img
                    th:src="@{/assets/email.png}"
                    alt="Email icon"
                    class="icon contact-icon email-icon"
            />
            <p><a th:href="@{mailto:chandan.tiwaris@outlook.com}" th:target="_blank">chandan.tiwaris@outlook.com</a></p>
        </div>
        <div class="contact-info-container">
            <img
                    th:src="@{/assets/linkedin.png}"
                    alt="LinkedIn icon"
                    class="icon contact-icon"
            />
            <p><a th:href="@{https://www.linkedin.com/in/chandan-tiwari-uk/}" th:target="_blank">LinkedIn</a></p>
        </div>
    </div>
</section>
<footer>
    <nav>
        <div class="nav-links-container">
            <ul class="nav-links">
                <li><a th:href="@{#about}">About</a></li>
                <li><a th:href="@{#experience}">Experience</a></li>
                <li><a th:href="@{#projects}">Projects</a></li>
                <li><a th:href="@{#contact}">Contact</a></li>
            </ul>
        </div>
    </nav>
    <p>Made with ❤️ using Thymeleaf.</p>
</footer>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>
